<nav>
    <!-- Navbar -->
    <img href="./index.html" id="logo" src="./images/click__collect-removebg-preview.png" alt="">
    <div id="search-div">
        <input id="search-inputs" type="text" placeholder="Search for Products">
        <button><img id="search-btn" src="./images/magnifying-glass-search.png" alt=""></button>
    </div>
   
    <button id="login-btn">Login</button>
    <p>Become a Seller</p>
    <p>More</p>

    <div id="cart-btn"> <img id="cart" src="./images/cart.png" alt=""> Cart</div>
</nav>